<div id="enphasesecur_widget_ID" class="eqLogic-widget eqLogic tooltips enphasesecur_widget enphasesecur" style="width: 700px; height:auto; text-align:center; border:#border#; border-radius:#border-radius#; background-color:#background-color#; color:#color#; #style#;" data-eqType="#eqType#" data-translate-category="#translate_category#" data-category="#category#" data-tags="#tags#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="dashboard">
    <center class="widget-name">
        <span class="warning" title="#alert_name#">
          <i class='#alert_icon#'></i>
        </span>
        <span class="cmd refresh pull-right cursor" data-cmd_id="#refresh_id#">
          <i class="fas fa-sync"></i>
        </span>
        <span class="reportModeVisible">#name_display# <span class="object_name">#object_name#</span></span>
        <a href="#eqLink#" class="reportModeHidden">#name_display# <span class="object_name">#object_name#</span></a>
      </center>
    <div class="container-fluid">

        <table widht="100%" border="0" align="center" cellpadding="0">
            <tbody>
              <tr>
                <td widht="16%"> </td>
                <td> </td>
                <td widht="16%">
                  <div class="history cursor" data-cmd_id="#Export_id#">#Export_name# #Export_unite#
                  </div>
                 </td>
                  <td widht="16%">
                    <div class="history cursor" data-cmd_id="#Import_id#">#Import_name# <br/> #Import# #Import_unite#
                  </div></span></td>
                <td widht="16%"> </td>
                <td widht="16%"> </td>
              </tr>
              <tr>
                <td>Production</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td rowspan="2">Consommation</td>
                <td>Net</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>Totale</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
            </table>

    </div>
	
	<script>
        if ('#refresh_id#' != '') {
      $('.eqLogic[data-eqLogic_uid=#uid#] .refresh').on('click', function () {
        jeedom.cmd.execute({id: '#refresh_id#'})
      })
    } else {
      $('.eqLogic[data-eqLogic_uid=#uid#] .refresh').remove()
    }
	</script>
</div>
