<div id="fordcar_widget_ID" class="eqLogic-widget eqLogic tooltips fordcar_widget fordcar" style="width: 900px; min-width:900px; height:auto; min-height:400px; text-align:center; border:#border#; border-radius:#border-radius#; background-color:#background-color#; color:#color#; #style#;" data-eqType="#eqType#" data-translate-category="#translate_category#" data-category="#category#" data-tags="#tags#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="dashboard">
	
	<center class="widget-name" style="padding-right: 0px;">
		<span class="object_name" style="font-size:1.1em ;display:none;">#object_name#</span>
		<a href="#eqLink#" style="font-size:1.1em ;#hideEqLogicName#">#name_display#</a>
		<!--<span class="cmd refresh pull-right cursor" data-cmd_id="#refresh_id#" title="Rafraichir" onclick="jeedom.cmd.execute({id: #refresh_id#});"><i class="fas fa-sync"></i></span>
	-->
			</center>
	<div class="container-fluid" >
		<div class="row">
			<div class="col-sm-6">
				<div class="row" style="height:60px">
					<div class="col-sm-6">
						<span class="label" style="font-weight: bold">Véhicule</span></br>
						<span data-cmd_id="#etat_id#" class="state Cmd#etat_id# #etat_history#"></span>
					</div>
					<div class="col-sm-6">
						<span class="label" style="font-weight: bold">Kilométrage</span></br>
						<span data-cmd_id="#km_id#" class="Cmd#km_id# iconCmd #km_history#"></span>
					</div>
				</div>
				
				<hr class="cmdName">
				
				<div class="row" id="label" class="col-sm-6">
						<div id="electric_engine#id#" class="col-sm-6">

							<i class="fa-2x fas fa-charging-station"></i><span class="label cmdName" style="font-weight: bold">Moteur électrique</span>
							</br>
							<div class="label pull-left"><i class="fa-xl fas fa-map-pin"></i><span class="Cmd#beRemainingRangeElectric_id#"></span></div></br>
							<div class="label pull-left"><i class="fa-xl fas fa-car-battery"></i><span class="Cmd#chargingLevelHv_id#"></span></div></br>
							<div class="label pull-left"><i class="fa-xl fas fa-plug"></i><span class="Cmd#connectorStatus_id#"></span></div></br>
							<div class="label pull-left"><i class="fa-xl fas fa-charging-station"></i><span class="Cmd#chargingStatus_id#"></span></div>
						</div>

						<div id="combustion_engine#id#" class="col-sm-6">
							<i class="fa-2x fas fa-gas-pump"></i><span class="label cmdName" style="font-weight: bold">Moteur thermique</span>
							</br>
							<div class="label pull-left"><i class="fa-xl fas fa-map-pin"></i><span data-cmd_id="#kmfuel_id#" class="Cmd#kmfuel_id# #kmfuel_history#"></span></div></br>
							<div class="label pull-left"><i class="fa-xl fas fa-gas-pump"></i><span data-cmd_id="#qfuel_id#" class="Cmd#qfuel_id# #qfuel_history#"></span></div></br>
							<div class="label pull-left"><i class="fa-xl fas fa-car-battery"></i> Batterie : <span data-cmd_id="#hbat_id#" class="Cmd#hbat_id# #hbat_history#"></span> <i class="Cmd#tbat_id# #tbat_history#"></i></div></br>
							<div class="label pull-left"><i class="fa-xl fas kiko-wrench"></i> Huile : <span data-cmd_id="#ehuile_id#" class="Cmd#ehuile_id# #ehuile_history#"></span> <i class="Cmd#huile_id# #huile_history#"></i> </div>
						</div>
						</br>
					</div>
				
				<hr class="cmdName">
				
				<span class="label cmdName" style="font-weight: bold">Portes & Fenêtres</span>
				</br>
				<div class="row" id="doors_windows">

						<div class="col-sm-3">
							</br>
							<div class="label pull-left">Porte : <i data-cmd_id="#doorcd_id#" class="Cmd#doorcd_id# #doorcd_history#"></i></div>
							</br>
							<div class="label pull-left">Fenêtre : <i data-cmd_id="#vicdav_id#" class="Cmd#vicdav_id# #vicdav_history#"></i></div>
							</br>
							<div class="label pull-left">Pression : <i data-cmd_id="#etpnavgh_id#" class="Cmd#etpnavgh_id# #etpnavgh_history#"></i> <i data-cmd_id="#prpnavgh_id#" class="Cmd#prpnavgh_id# #prpnavgh_history#"></i></div>
							</br></br>
							<div class="label pull-left">Porte : <i data-cmd_id="#doorleft_id#" class="Cmd#doorleft_id# #doorleft_history#"></i></div>
							</br>
							<div class="label pull-left">Fenêtre : <i data-cmd_id="#vicdar_id#" class="Cmd#vicdar_id# #vicdar_history#"></i></div>
							</br>
							<div class="label pull-left">Pression : <i data-cmd_id="#etpnargh_id#" class="Cmd#etpnargh_id# #etpnargh_history#"></i> <i data-cmd_id="#prpnargh_id#" class="Cmd#prpnargh_id# #prpnargh_history#"></i></div>
						</div>
						<div class="col-sm-6">
							<img src="plugins/fordcar/core/img/widget_car.png" height="150" width="150" />
						</div>
						<div class="col-sm-3" style="margin-left: -30px">
							</br>
							<div class="label pull-left">Porte : <i data-cmd_id="#doorps_id#" class="Cmd#doorps_id# #etpnargh_history#"></i></div>
							</br>
							<div class="label pull-left">Fenêtre : <i data-cmd_id="#vipsav_id#" class="Cmd#vipsav_id# #vipsav_history#"></i></div>
							</br>
							<div class="label pull-left">Pression : <i data-cmd_id="#etpnavdr_id#" class="Cmd#etpnavdr_id# #etpnavdr_history#"></i> <i data-cmd_id="#prpnavdr_id#" class="Cmd#prpnavdr_id# #prpnavdr_history#"></i></div>
							</br></br>
							<div class="label pull-left">Porte : <i data-cmd_id="#doorright_id#" class="Cmd#doorright_id# #doorright_history#"></i></div>
							</br>
							<div class="label pull-left" >Fenêtre : <i data-cmd_id="#vipsar_id#" class="Cmd#vipsar_id# #vipsar_history#"></i></div>
							</br>
							<div class="label pull-left">Pression : <i data-cmd_id="#etpnardr_id#" class="Cmd#etpnardr_id# #etpnardr_history#"></i> <i data-cmd_id="#prpnardr_id#" class="Cmd#prpnardr_id# #prpnardr_history#"></i></div>
						</div></br>
					<div class="label"><span class="label pull-center">Toit ouvrant : <i data-cmd_id="#moonroof_state_id#" class="Cmd#moonroof_state_id# #moonroof_state_history# fas fa-ban" ></i></span></div></br>
					<div class="label"><span class="label pull-center">Coffre : <i data-cmd_id="#hood_id#" class="Cmd#hood_id# #hood_history#"></i></span></div>	</br>			
				</div>
			</div>
			
			<div class="col-sm-6">
				<div class="row" style="height:60px">
					<span class="label cmdName" style="font-weight: bold">Actions</span></br>
					<button class="btn cmd action" data-cmd_id="#refresh_id#" title="Rafraichir" onclick="jeedom.cmd.execute({id: #refresh_id#});"><i class="fa-2x icon jeedomapp-reload"></i></button>
					<button class="btn cmd action" data-cmd_id="#doorLock_id#" title="Verrouiller" onclick="jeedom.cmd.execute({id: #lock_id#});"><i class="fa-2x icon fas fa-lock"></i></button>
					<button class="btn cmd action" data-cmd_id="#doorUnlock_id#" title="Déverrouiller" onclick="jeedom.cmd.execute({id: #unlock_id#});"><i class="fa-2x icon fas fa-lock-open"></i></button>

				</div>
					<hr class="cmdName">

					<span class="label cmdName" style="font-weight: bold">Localisation</span>
					<div class="row" id="droit">
						
							Latitude: <i data-cmd_id="#lat_id#" class="Cmd#lat_id# #lat_history#"></i></br>
							Longitude: <i data-cmd_id="#long_id#" class="Cmd#long_id# #long_history#"></i></br>
						</br>
						<a href="https://www.openstreetmap.org/?mlat=#lat#&mlon=#long#" target="_blank">Afficher la carte</a></br>
						</div>
						<hr class="cmdName">
						<div class="row">
							<div class="label pull-center">Dernière connexion avec le véhicule : <i data-cmd_id="#last_id#" class="Cmd#last_id# #last_history#"></i></div></br>
							<div class="label pull-center">Veille profonde : <i data-cmd_id="#veille_id#" class="Cmd#veille_id# #veille_history#"></i></div>
							<div class="label pull-center">Mise à jour Firmware : <i data-cmd_id="#maj_id#" class="Cmd#maj_id# #maj_history#"></i></div>
						</div>
					</div>
			</div>
	
	<script>
        
        if ('#vehicle_type#id##' == 'electrique' )  {
			$('#combustion_engine#id#').hide();
		}
       
        if ('#vehicle_type#id##' == 'thermique') {
            $('#charge_btn#id#').hide();
			$('#electric_engine#id#').hide();
        }
		
		jeedom.cmd.update['#etat_id#'] = function(_options) {
			if (_options.display_value == "LOCKED") {
				$('.Cmd#etat_id#').empty().append('<i class="fa-2x icon_green fas fa-lock"></i>');
			}
			else if (_options.display_value == "UNLOCKED") {
				$('.Cmd#etat_id#').empty().append('<i class="fa-2x icon_red fas fa-lock-open"></i>');
			}
			else {
                $('.Cmd#etat_id#').empty().append('<i class="fa-2x fas fa-ban"></i>');
            }
		}
		jeedom.cmd.update['#etat_id#']({ display_value: '#etat#' });


        jeedom.cmd.update['#last_id#'] = function (_options) {
            if (_options.display_value == "0" || _options.display_value == "") {
                $('.Cmd#last_id#').empty().append('<i class="fas fa-ban"></i>');
            }
            else {
                var datelast = new Date(_options.display_value);
                var datelast1 = new Date(datelast.setHours(datelast.getHours() + 2));
           
                $('.Cmd#last_id#').empty().append('<span>' + datelast1.toLocaleString() + '</span>');
            }
        }
		jeedom.cmd.update['#last_id#']({ display_value: '#last#' }); 

        jeedom.cmd.update['#long_id#'] = function (_options) {
            if (_options.display_value == "0" || _options.display_value == "") {
                $('.Cmd#long_id#').empty().append('<i class="fas fa-ban"></i>');
            }
            else {
                $('.Cmd#long_id#').empty().append('<span>' + _options.display_value + '</span>');
            }
        }
		jeedom.cmd.update['#long_id#']({ display_value: '#long#' }); 

        jeedom.cmd.update['#lat_id#'] = function (_options) {
            if (_options.display_value == "0" || _options.display_value == "") {
                $('.Cmd#lat_id#').empty().append('<i class="fas fa-ban"></i>');
            }
            else {
                $('.Cmd#lat_id#').empty().append('<span>' + _options.display_value + '</span>');
            }
        }
        jeedom.cmd.update['#lat_id#']({ display_value: '#lat#' }); 

        jeedom.cmd.update['#prpnardr_id#'] = function (_options) {
            if (_options.display_value == "0" || _options.display_value == "") {
                $('.Cmd#prpnardr_id#').empty().append('<i class="fas fa-ban"></i>');
            }
            else { $('.Cmd#prpnardr_id#').empty().append('<span>' + _options.display_value + '</span>'); }
        }
        jeedom.cmd.update['#prpnardr_id#']({ display_value: '#prpnardr#' + ' bar'}); 

        jeedom.cmd.update['#prpnavdr_id#'] = function (_options) {
            if (_options.display_value == "0" || _options.display_value == "") {
                $('.Cmd#prpnavdr_id#').empty().append('<i class="fas fa-ban"></i>');
            }
            else { $('.Cmd#prpnavdr_id#').empty().append('<span>' + _options.display_value + '</span>'); }
        }
		jeedom.cmd.update['#prpnavdr_id#']({ display_value: '#prpnavdr#' + ' bar' }); 

        jeedom.cmd.update['#prpnavgh_id#'] = function (_options) {
            if (_options.display_value == "0" || _options.display_value == "") {
                $('.Cmd#prpnavgh_id#').empty().append('<i class="fas fa-ban"></i>');
            }
            else { $('.Cmd#prpnavgh_id#').empty().append('<span>' + _options.display_value + '</span>'); }
        }
		jeedom.cmd.update['#prpnavgh_id#']({ display_value: '#prpnavgh#' + ' bar' }); 

        jeedom.cmd.update['#prpnargh_id#'] = function (_options) {
            if (_options.display_value == "0" || _options.display_value == "") {
                $('.Cmd#prpnargh_id#').empty().append('<i class="fas fa-ban"></i>');
            }
            else { $('.Cmd#prpnargh_id#').empty().append('<span>' + _options.display_value + '</span>'); }
        }
        jeedom.cmd.update['#prpnargh_id#']({ display_value: '#prpnargh#' + ' bar' }); 

        jeedom.cmd.update['#tbat_id#'] = function (_options) {
            if (_options.display_value == "") {
                $('.Cmd#tbat_id#').empty().append('<i class="fas fa-ban"></i>');
            }
            else { $('.Cmd#tbat_id#').empty().append('<span>' + _options.display_value + 'V</span>'); }
        }
		jeedom.cmd.update['#tbat_id#']({ display_value: '#tbat#' }); 

        jeedom.cmd.update['#huile_id#'] = function (_options) {
            if (_options.display_value == "") {
                $('.Cmd#huile_id#').empty().append('<i class="fas fa-ban"></i>');
            }
            else { $('.Cmd#huile_id#').empty().append('<span>' + _options.display_value + '% propre</span>'); }
        }
        jeedom.cmd.update['#huile_id#']({ display_value: '#huile#' }); 

      /*  
	      jeedom.cmd.update['#blabla_id#'] = function (_options) {
            if (_options.display_value == "0" || _options.display_value == "") {
                $('.Cmd#blabla_id#').empty().append('<i class="fas fa-ban"></i>');
            }
            else { $('.Cmd#blabla_id#').empty().append('<span>' + _options.display_value + '</span>'); }
        }
        jeedom.cmd.update['#blabla_id#']({ display_value: '#blabla#' }); 
		*/

		
        jeedom.cmd.update['#maj_id#'] = function (_options) {
            if (_options.display_value == "1") {
                $('.Cmd#maj_id#').empty().append('<i class="icon_red fa-2x fa-exclamation"></i>');
            }
            else {
                $('.Cmd#maj_id#').empty().append('<i class="icon_green fas fa-ban"></i>');
            }
        }
		jeedom.cmd.update['#maj_id#']({ display_value: '#maj#' });

        jeedom.cmd.update['#veille_id#'] = function (_options) {
            if (_options.display_value == "1") {
                $('.Cmd#veille_id#').empty().append('<i class="icon_orange jeedomapp-done"></i>');
            }
            else {
                $('.Cmd#veille_id#').empty().append('<i class="icon_green fas fa-ban"></i>');
            }
        }
        jeedom.cmd.update['#veille_id#']({ display_value: '#veille#' });

        jeedom.cmd.update['#ehuile_id#'] = function (_options) {
            if (_options.display_value == "STATUS_GOOD") {
                $('.Cmd#ehuile_id#').empty().append('<i class="icon_green jeedomapp-done"></i>');
            }
            else if (_options.display_value == "STATUS_NOT_GOOD") {
                $('.Cmd#ehuile_id#').empty().append('<i class="icon_red jeedom-alerte2"></i>');
			}
            else if (_options.display_value == "STATUS_LOW") {
                $('.Cmd#ehuile_id#').empty().append('<i class="icon_orange fas fa-exclamation"></i>');
            }
            else {
                $('.Cmd#ehuile_id#').empty().append('<i class="fas fa-ban"></i>');
            }
        }
		jeedom.cmd.update['#ehuile_id#']({ display_value: '#ehuile#' });

        jeedom.cmd.update['#hbat_id#'] = function (_options) {
            if (_options.display_value == "STATUS_GOOD") {
                $('.Cmd#hbat_id#').empty().append('<i class="icon_green jeedomapp-done"></i>');
            }
            else if (_options.display_value == "STATUS_NOT_GOOD") {
                $('.Cmd#hbat_id#').empty().append('<i class="icon_orange jeedom-alerte2"></i>');
            }
            else if (_options.display_value == "STATUS_LOW") {
                $('.Cmd#hbat_id#').empty().append('<i class="icon_red fas fa-exclamation"></i>');
            }
            else {
                $('.Cmd#hbat_id#').empty().append('<i class="fas fa-ban"></i>');
            }
        }
        jeedom.cmd.update['#hbat_id#']({ display_value: '#hbat#' });

		
		jeedom.cmd.update['#doorcd_id#'] = function(_options) {
            if ( _options.display_value == "Open")  {
            	$('.Cmd#doorcd_id#').empty().append('<i class="icon_orange jeedom-porte-ouverte"></i>');
            }
          	else if ( _options.display_value == "Closed")  {
              	$('.Cmd#doorcd_id#').empty().append('<i class="icon_green jeedom-porte-ferme"></i>');
            }
			else {
              	$('.Cmd#doorcd_id#').empty().append('<i class="fas fa-ban"></i>');
            }
		}
		jeedom.cmd.update['#doorcd_id#']({display_value:'#doorcd#'});
		
		
		jeedom.cmd.update['#doorleft_id#'] = function(_options) {
            if ( _options.display_value == "Open")  {
            	$('.Cmd#doorleft_id#').empty().append('<i class="icon_orange jeedom-porte-ouverte"></i>');
            }
          	else if ( _options.display_value == "Closed")  {
              	$('.Cmd#doorleft_id#').empty().append('<i class="icon_green jeedom-porte-ferme"></i>');
            }
			else {
              	$('.Cmd#doorleft_id#').empty().append('<i class="fas fa-ban"></i>');
            }
		}
		jeedom.cmd.update['#doorleft_id#']({display_value:'#doorleft#'});
		
		
		jeedom.cmd.update['#doorps_id#'] = function(_options) {
            if ( _options.display_value == "Open")  {
            	$('.Cmd#doorps_id#').empty().append('<i class="icon_orange jeedom-porte-ouverte"></i>');
            }
          	else if ( _options.display_value == "Closed")  {
              	$('.Cmd#doorps_id#').empty().append('<i class="icon_green jeedom-porte-ferme"></i>');
            }
			else {
              	$('.Cmd#doorps_id#').empty().append('<i class="fas fa-ban"></i>');
            }
		}
		jeedom.cmd.update['#doorps_id#']({display_value:'#doorps#'});
		
		
		jeedom.cmd.update['#doorright_id#'] = function(_options) {
            if ( _options.display_value == "Open")  {
            	$('.Cmd#doorright_id#').empty().append('<i class="icon_orange jeedom-porte-ouverte"></i>');
            }
          	else if ( _options.display_value == "Closed")  {
              	$('.Cmd#doorright_id#').empty().append('<i class="icon_green jeedom-porte-ferme"></i>');
            }
			else {
              	$('.Cmd#doorright_id#').empty().append('<i class="fas fa-ban"></i>');
            }
		}
		jeedom.cmd.update['#doorright_id#']({display_value:'#doorright#'});
		
		
		jeedom.cmd.update['#vicdav_id#'] = function(_options) {
            if (_options.display_value.indexOf("Open") != "-1")  {
            	$('.Cmd#vicdav_id#').empty().append('<i class="icon_orange jeedom-fenetre-ouverte"></i>');
            }
          	else if ( _options.display_value == "Fully_Closed")  {
              	$('.Cmd#vicdav_id#').empty().append('<i class="icon_green jeedom-fenetre-ferme"></i>');
            }
			else {
              	$('.Cmd#vicdav_id#').empty().append('<i class="fas fa-ban"></i>');
            }
		}
		jeedom.cmd.update['#vicdav_id#']({display_value:'#vicdav#'});
		
		
		jeedom.cmd.update['#vicdar_id#'] = function(_options) {
            if (_options.display_value.indexOf("Open") != "-1")  {
            	$('.Cmd#vicdar_id#').empty().append('<i class="icon_orange jeedom-fenetre-ouverte"></i>');
            }
          	else if ( _options.display_value == "Fully_Closed")  {
              	$('.Cmd#vicdar_id#').empty().append('<i class="icon_green jeedom-fenetre-ferme"></i>');
            }
			else {
              	$('.Cmd#vicdar_id#').empty().append('<i class="fas fa-ban"></i>');
            }
		}
		jeedom.cmd.update['#vicdar_id#']({display_value:'#vicdar#'});
		
		
		jeedom.cmd.update['#vipsav_id#'] = function(_options) {
            if (_options.display_value.indexOf("Open") != "-1") {
            	$('.Cmd#vipsav_id#').empty().append('<i class="icon_orange jeedom-fenetre-ouverte"></i>');
            }
          	else if ( _options.display_value == "Fully_Closed")  {
              	$('.Cmd#vipsav_id#').empty().append('<i class="icon_green jeedom-fenetre-ferme"></i>');
            }
			else {
              	$('.Cmd#vipsav_id#').empty().append('<i class="fas fa-ban"></i>');
            }
		}
		jeedom.cmd.update['#vipsav_id#']({display_value:'#vipsav#'});
		
		
		jeedom.cmd.update['#vipsar_id#'] = function(_options) {
            if (_options.display_value.indexOf("Open") != "-1")  {
            	$('.Cmd#vipsar_id#').empty().append('<i class="icon_orange jeedom-fenetre-ouverte"></i>');
            }
          	else if ( _options.display_value == "Fully_Closed")  {
              	$('.Cmd#vipsar_id#').empty().append('<i class="icon_green jeedom-fenetre-ferme"></i>');
            }
			else {
              	$('.Cmd#vipsar_id#').empty().append('<i class="fas fa-ban"></i>');
            }
		}
		jeedom.cmd.update['#vipsar_id#']({display_value:'#vipsar#'});
				
      
		jeedom.cmd.update['#hood_id#'] = function(_options) {
            if ( _options.display_value == "Open")  {
            	$('.Cmd#hood_id#').empty().append('<i class="icon_orange jeedom-porte-ouverte"></i>');
            }
          	else if ( _options.display_value == "Closed")  {
              	$('.Cmd#hood_id#').empty().append('<i class="icon_green jeedom-porte-ferme"></i>');
            }
			else {
              	$('.Cmd#hood_id#').empty().append('<i class="fas fa-ban"></i>');
            }
		}
		jeedom.cmd.update['#hood_id#']({ display_value: '#hood#' });


        jeedom.cmd.update['#etpnavgh_id#'] = function (_options) {
            if (_options.display_value == "Normal") {
                $('.Cmd#etpnavgh_id#').empty().append('<i class="icon_green jeedomapp-done"></i>');
            }
           /* else if (_options.display_value == "Closed") {
                $('.Cmd#etpnavgh_id#').empty().append('<i class="icon_green jeedom-porte-ferme"></i>');
            }*/
            else {
                $('.Cmd#etpnavgh_id#').empty().append('<i class="fas fa-ban"></i>');
            }
		}
		jeedom.cmd.update['#etpnavgh_id#']({ display_value: '#etpnavgh#' });

        jeedom.cmd.update['#etpnavdr_id#'] = function (_options) {
            if (_options.display_value == "Normal") {
                $('.Cmd#etpnavdr_id#').empty().append('<i class="icon_green jeedomapp-done"></i>');
            }
            /* else if (_options.display_value == "Closed") {
                 $('.Cmd#etpnavdr_id#').empty().append('<i class="icon_green jeedom-porte-ferme"></i>');
             }*/
            else {
                $('.Cmd#etpnavdr_id#').empty().append('<i class="fas fa-ban"></i>');
            }
        }
		jeedom.cmd.update['#etpnavdr_id#']({ display_value: '#etpnavdr#' });

        jeedom.cmd.update['#etpnardr_id#'] = function (_options) {
            if (_options.display_value == "Normal") {
                $('.Cmd#etpnardr_id#').empty().append('<i class="icon_green jeedomapp-done"></i>');
            }
            /* else if (_options.display_value == "Closed") {
                 $('.Cmd#etpnavdr_id#').empty().append('<i class="icon_green jeedom-porte-ferme"></i>');
             }*/
            else {
                $('.Cmd#etpnardr_id#').empty().append('<i class="fas fa-ban"></i>');
            }
        }
		jeedom.cmd.update['#etpnardr_id#']({ display_value: '#etpnardr#' });

        jeedom.cmd.update['#etpnargh_id#'] = function (_options) {
            if (_options.display_value == "Normal") {
                $('.Cmd#etpnargh_id#').empty().append('<i class="icon_green jeedomapp-done"></i>');
            }
            /* else if (_options.display_value == "Closed") {
                 $('.Cmd#etpnavdr_id#').empty().append('<i class="icon_green jeedom-porte-ferme"></i>');
             }*/
            else {
                $('.Cmd#etpnargh_id#').empty().append('<i class="fas fa-ban"></i>');
            }
        }
        jeedom.cmd.update['#etpnargh_id#']({ display_value: '#etpnargh#' });

		/*
        jeedom.cmd.update['#moonroof_state_id#'] = function (_options) {
            if (_options.display_value == "Open") {
                $('.Cmd#moonroof_state_id#').empty().append('<i class="icon_red jeedom-porte-ouverte"></i>');
            }
            else if (_options.display_value == "Fully_Closed") {
                $('.Cmd#moonroof_state_id#').empty().append('<i class="icon_green jeedom-porte-ferme"></i>');
            }
            else {
                $('.Cmd#moonroof_state_id#').empty().append('<i class="fas fa-ban"></i>');
            }
        }
        jeedom.cmd.update['#moonroof_state_id#']({display_value: '#moonroof_state#'});
		*/
		jeedom.cmd.update['#km_id#'] = function(_options) {
            if (_options.display_value == "0" || _options.display_value == "")  {
			 $('.Cmd#km_id#').empty().append('<i class="fa-2x fas fa-ban"></i>');
			}
			else {
				$('.Cmd#km_id#').empty().append('<span>' + _options.display_value + '</span>');
			}
        }
		jeedom.cmd.update['#km_id#']({display_value:'#km#'});
		/*
		
		jeedom.cmd.update['#beRemainingRangeElectric_id#'] = function(_options) {
           	$('.Cmd#beRemainingRangeElectric_id#').empty().append('<span>'+' '+_options.display_value+' kms restants'+'</span>');
        }
		jeedom.cmd.update['#beRemainingRangeElectric_id#']({display_value:'#beRemainingRangeElectric#'});
		
		
		jeedom.cmd.update['#chargingLevelHv_id#'] = function(_options) {
           	$('.Cmd#chargingLevelHv_id#').empty().append('<span>'+' Batterie : '+_options.display_value+' %'+'</span>');
        }
		jeedom.cmd.update['#chargingLevelHv_id#']({display_value:'#chargingLevelHv#'});
		
		
		jeedom.cmd.update['#connectorStatus_id#'] = function(_options) {
           	if ( _options.display_value == "1" )  {			
				$('.Cmd#connectorStatus_id#').empty().append('<span> Prise : connectée</span>');
			}
			if ( _options.display_value == "0" || _options.display_value == "" )  {			
				$('.Cmd#connectorStatus_id#').empty().append('<span> Prise : deconnectée</span>');
			}
		}
		jeedom.cmd.update['#connectorStatus_id#']({display_value:'#connectorStatus#'});
		
		
		jeedom.cmd.update['#chargingStatus_id#'] = function(_options) {
           	$('.Cmd#chargingStatus_id#').empty().append('<span>'+' Charge : '+_options.display_value+'</span>');
        }
		jeedom.cmd.update['#chargingStatus_id#']({display_value:'#chargingStatus#'});
		
		*/
		jeedom.cmd.update['#kmfuel_id#'] = function (_options) {
           	$('.Cmd#kmfuel_id#').empty().append('<span><i>'+' '+_options.display_value+'kms</i> restants'+'</span>');
        }
		jeedom.cmd.update['#kmfuel_id#']({display_value:'#kmfuel#'});
		
		
		jeedom.cmd.update['#qfuel_id#'] = function (_options) {

            if (parseInt(_options.display_value) >= 50) {
                $('.Cmd#qfuel_id#').empty().append('<span>' + ' Volume restant : <i>' + _options.display_value + '%</i>' + '</span>');
			}
            else if (parseInt(_options.display_value) >= 10) {
                $('.Cmd#qfuel_id#').empty().append(' <i class="icon_orange fas fa-exclamation"></i><span> ' + ' Volume restant : <i>' + _options.display_value + '%</i> ' + '</span >');
            }
            else {
                $('.Cmd#qfuel_id#').empty().append(' <i class="icon_red fas fa-exclamation"></i><span> ' + ' Volume restant : <i>' + _options.display_value + '%</i> ' + '</span >');
            }
        }
		jeedom.cmd.update['#qfuel_id#']({display_value:'#qfuel#'});
		
	</script>

	<style>
	
	.fordcar_widget .container-fluid {
		margin-top: 10px;
		
	}

	.fordcar_widget hr {
		border-top: 1px solid;
		margin : 10px 10px 10px 10px;
	}

	.fordcar_widget #infos {
		margin-top: 10px;
		margin-bottom: 16px;
	}
	
	.fordcar_widget #doors_windows {
		margin: 10px 10px 10px 10px;
	}
	
	.fordcar_widget #actions {
		margin-top: 10px;
		margin-bottom: 20px;
	}
	
	.fordcar_widget .btn {
		width: 40px !important;
		height: 40px !important;
		max-width: 40px !important;
		max-height: 40px !important;
	}
				
	</style>
	
</div>